# ESCUELA POLITÉCNICA NACIONAL
## FACULTAD DE INGENIERÍA DE SISTEMAS
## ISAAC SALOMÓN PILATUÑA ZAMBRANO
## ANALISIS DE PRECIOS MUEBLES ECUADOR

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [47]:
path='./muebles.json'
df_muebles=pd.read_json(path)

In [62]:
def hacer_plural(palabra_singular):
    if(palabra_singular[-1:]!='s'):
        return palabra_singular+'s'
    else:
        return palabra_singular

In [66]:
df_muebles.categoria=list(map(lambda x:hacer_plural(x),df_muebles.categoria.values))

## Muebles mas caros

### General

In [67]:
df_muebles.sort_values(by=['precio_regular'], ascending=False).head(10)

,categoria,empresa,nombre,precio_oferta,precio_regular
126,Comedores,Pycca,Juego de Comedor Napoli Gris 8 Puestos,998.99,998.99
118,Dormitorios,Pycca,Colchón Chaide y Chaide Grand Palais 2.5 Plazas,918.99,918.99
140,Comedores,Pycca,Juego de Comedor Golden 6 Puestos Café,848.99,848.99
138,Comedores,Pycca,Juego de Comedor Bruselas 6 Puestos,798.99,798.99
139,Comedores,Pycca,Juego de Comedor Bruselas 6 Puestos Terracota,798.99,798.99
127,Comedores,Pycca,Juego de Comedor Danna 6 Sillas,749.00,749.00
115,Dormitorios,Pycca,Colchón Chaide y Chaide Restonic Gold 3 Plazas,698.99,698.99
134,Comedores,Pycca,Juego de Comedor Tivolli 6 Puestos,698.99,698.99
135,Comedores,Pycca,Juego de Comedor Luciana 6 Puestos,698.99,698.99
136,Comedores,Pycca,Juego de Comedor Trevi 6 Puestos,679.00,679.00

### Comedores

In [68]:
son_comedores=df_muebles['categoria']=='Comedores'
df_muebles[son_comedores].sort_values(by=['precio_regular'], ascending=False).head(10)

,categoria,empresa,nombre,precio_oferta,precio_regular
126,Comedores,Pycca,Juego de Comedor Napoli Gris 8 Puestos,998.99,998.99
140,Comedores,Pycca,Juego de Comedor Golden 6 Puestos Café,848.99,848.99
138,Comedores,Pycca,Juego de Comedor Bruselas 6 Puestos,798.99,798.99
139,Comedores,Pycca,Juego de Comedor Bruselas 6 Puestos Terracota,798.99,798.99
127,Comedores,Pycca,Juego de Comedor Danna 6 Sillas,749.00,749.00
135,Comedores,Pycca,Juego de Comedor Luciana 6 Puestos,698.99,698.99
134,Comedores,Pycca,Juego de Comedor Tivolli 6 Puestos,698.99,698.99
136,Comedores,Pycca,Juego de Comedor Trevi 6 Puestos,679.00,679.00
133,Comedores,Pycca,Juego de Comedor Ferrara Naranja 6 Puestos,668.99,668.99
137,Comedores,Pycca,Juego de Comedor Atlantis 6 Puestos,598.99,598.99

### Dormitorios

In [69]:
son_dormitorios=df_muebles['categoria']=='Dormitorios'
df_muebles[son_dormitorios].sort_values(by=['precio_regular'], ascending=False).head(10)

,categoria,empresa,nombre,precio_oferta,precio_regular
118,Dormitorios,Pycca,Colchón Chaide y Chaide Grand Palais 2.5 Plazas,918.99,918.99
115,Dormitorios,Pycca,Colchón Chaide y Chaide Restonic Gold 3 Plazas,698.99,698.99
116,Dormitorios,Pycca,Colchón Chaide y Chaide Restonic Gold 2.5 Plazas,560.00,560.00
109,Dormitorios,Pycca,Colchón Chaide y Chaide Continental de Lujo No...,469.00,469.00
113,Dormitorios,Pycca,Colchón Chaide y Chaide Continental de Lujo No...,469.00,469.00
117,Dormitorios,Pycca,Colchón Chaide y Chaide Restonic Gold 2 Plazas,448.99,448.99
11,Dormitorios,El Bosque,CAMA BRIDGET 200X200,351.50,448.34
90,Dormitorios,Pycca,Base Chaide y Chaide Dúo Chaide de 2 Plazas,429.99,429.99
13,Dormitorios,El Bosque,Comoda Valeska con Espejo,335.05,427.37
12,Dormitorios,El Bosque,ZAPATERA GIRATORIA MULTIUSO BLANCO,370.07,423.61

### Salas

In [70]:
son_salas=df_muebles['categoria']=='Salas'
df_muebles[son_salas].sort_values(by=['precio_regular'], ascending=False).head(10)

,categoria,empresa,nombre,precio_oferta,precio_regular
59,Salas,Pycca,"Sofá en ""L"" Toronto Gris",679.00,679.00
20,Salas,El Bosque,Sofa 3p. Sara,457.03,559.00
22,Salas,El Bosque,SOFA 3P ROMAN,472.72,541.13
87,Salas,Pycca,Sofá Cama Brooklyn Rojo,458.99,458.99
54,Salas,Pycca,Sofá Reclinable Guayaquil 1 Puesto Café,399.00,399.00
60,Salas,Pycca,Centro de Entretenimiento Belga,348.99,348.99
53,Salas,Pycca,Centro de Entretenimiento Kava,329.00,329.00
52,Salas,Pycca,Centro de Entretenimiento Faris,298.99,298.99
21,Salas,El Bosque,Sofa 1p Ventura,217.96,290.47
48,Salas,Pycca,Centro de Entretenimiento Ravena,268.99,268.99

## Muebles mas baratos

### Comedores

In [71]:
son_comedores=df_muebles['categoria']=='Comedores'
df_muebles[son_comedores].sort_values(by=['precio_regular']).head(10)

,categoria,empresa,nombre,precio_oferta,precio_regular
141,Comedores,Pycca,Silla de Comedor Munich Grafito,18.49,18.49
132,Comedores,Pycca,Silla de Comedor Munich Blanca,18.49,18.49
124,Comedores,Pycca,Silla de Comedor Sidney Blanco,18.49,18.49
123,Comedores,Pycca,Silla de Comedor Sidney Rojo,18.49,18.49
142,Comedores,Pycca,Silla de Comedor Sidney Grafito,18.49,18.49
41,Comedores,El Bosque,SILLA DE COMEDOR RANDAL,48.30,55.30
39,Comedores,El Bosque,SILLA BAR MIDORI,51.56,59.03
38,Comedores,El Bosque,SILLA BAR TAKE,51.56,59.03
28,Comedores,El Bosque,SILLA COMEDOR CARVEL PU,54.93,62.89
40,Comedores,El Bosque,SILLA DE COMEDOR TALIA II,55.24,63.24

### Dormitorios

In [74]:
son_dormitorios=df_muebles['categoria']=='Dormitorios'
df_muebles[son_dormitorios].sort_values(by=['precio_regular']).head(10)

,categoria,empresa,nombre,precio_oferta,precio_regular
120,Dormitorios,Pycca,Colchón Chaide y Chaide Caressa 2.5 Plazas,1.00,1.00
119,Dormitorios,Pycca,Colchón Chaide y Chaide Caressa 3 Plazas,1.00,1.00
78,Dormitorios,Pycca,Espejo Decorativo Cobre,23.88,23.88
0,Dormitorios,El Bosque,Velador Helena 2c.,33.65,50.08
18,Dormitorios,El Bosque,Velador Miranda,40.14,59.74
103,Dormitorios,Pycca,Velador 1 Cajón Wengue,68.99,68.99
3,Dormitorios,El Bosque,Zapatera 3 Puertas Havana Plus,71.17,81.47
17,Dormitorios,El Bosque,Zapatera Astrid,80.43,92.08
92,Dormitorios,Pycca,Base Chaide y Chaide Quality Beige 1.5 Plazas,105.00,105.00
79,Dormitorios,Pycca,Base Chaide y Chaide Quality Beige 2 Plazas,119.99,119.99

### Salas

In [73]:
son_salas=df_muebles['categoria']=='Salas'
df_muebles[son_salas].sort_values(by=['precio_regular']).head(10)

,categoria,empresa,nombre,precio_oferta,precio_regular
95,Salas,Pycca,Ottoman de Cuerina Negro,24.89,24.89
58,Salas,Pycca,Ottoman de Cuerina Café,24.89,24.89
73,Salas,Pycca,Mesa Auxiliar Media Luna Bronce,35.00,35.00
72,Salas,Pycca,Mesa Auxiliar Media Luna Negro,35.00,35.00
61,Salas,Pycca,Mesa de Centro Wema,78.99,78.99
62,Salas,Pycca,Mueble Para Televisor Invy,98.99,98.99
64,Salas,Pycca,Bar Rodante Elegant Negro,98.99,98.99
49,Salas,Pycca,Mesa de Centro Clear,98.99,98.99
66,Salas,Pycca,Bar Rodante Clear Plata,98.99,98.99
84,Salas,Pycca,Bar Rodante Classic Blanco,99.98,99.98

## Ofertas

In [90]:
porcentaje_ofertas=((df_muebles.precio_regular.values-df_muebles.precio_oferta.values)/df_muebles.precio_regular.values)*100
df_muebles['descuento']=porcentaje_ofertas
df_muebles.sort_values(by=['descuento'],ascending=False).head(20)

,categoria,empresa,nombre,precio_oferta,precio_regular,descuento
7,Dormitorios,El Bosque,COMODA HELENA 5 CAJONES,123.44,186.82,33.925704
4,Dormitorios,El Bosque,Comoda Lucia 5c.,120.87,182.92,33.921933
18,Dormitorios,El Bosque,Velador Miranda,40.14,59.74,32.808838
0,Dormitorios,El Bosque,Velador Helena 2c.,33.65,50.08,32.807508
19,Dormitorios,El Bosque,VELADOR ISABELA 2 CAJONES,123.61,183.95,32.802392
8,Dormitorios,El Bosque,Armario Havana Star 5.3 Con Espejo,190.71,270.29,29.442451
1,Dormitorios,El Bosque,ARMARIO CARIBE 3P. 2C.,104.21,143.16,27.207320
6,Dormitorios,El Bosque,Armario Londres 4P. 4C.,166.80,229.13,27.202898
5,Dormitorios,El Bosque,Armario America 4p. Con Llaves Y Espejo,145.26,199.54,27.202566
10,Dormitorios,El Bosque,MASTER VIP,294.43,404.45,27.202374
9,Dormitorios,El Bosque,Armario Havana Master 8.6,306.98,421.68,27.200721
21,Salas,El Bosque,Sofa 1p Ventura,217.96,290.47,24.962991
16,Dormitorios,El Bosque,Comoda Miranda,110.56,141.03,21.605332
13,Dormitorios,El Bosque,Comoda Valeska con Espejo,335.05,427.37,21.601891
2,Dormitorios,El Bosque,CAMA JOSLIN,319.41,407.42,21.601787
15,Dormitorios,El Bosque,COMODA BRIDGET C/ ESPEJO,311.37,397.16,21.600866
14,Dormitorios,El Bosque,Comoda Lindsy,233.53,297.87,21.600027
11,Dormitorios,El Bosque,CAMA BRIDGET 200X200,351.50,448.34,21.599679
23,Comedores,El Bosque,Mesa Comedor Fisher,102.58,125.47,18.243405
20,Salas,El Bosque,Sofa 3p. Sara,457.03,559.00,18.241503